---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';
const vocab = await getCollection('vocab');
---
<StarlightPage frontmatter={{ title: 'My custom page' }}>
<h1>Vocab</h1>
<ul>
  {vocab.map(term => (
    <li><a href={`/vocab/${term.id}`}>{term.data.romanisation}</a></li>
  ))}
</ul>
</StarlightPage>